<article>
    <form #formulario="ngForm" (ngSubmit)="enviar()">
        <!--Text-->    
        <h2>Usuario</h2>
        <p>
            <input type="text" name="name" required minlength="4" 
            placeholder="Indica tu nombre" [(ngModel)]="user.nombre">
        </p>
        <p>
            <input type="text" name="apellido" required #apellidoState="ngModel"
            placeholder="Indica tu apellido" [(ngModel)]="user.apellido">
        </p>
        <p>
            <input type="text" name="tlf" required pattern="^\d{9}$"
            placeholder="Indica tu telefono" [(ngModel)]="user.tlf">
        </p>
        
        <div [hidden]="apellidoState.valid || apellidoState.untouched" class="error-message">
          <p>El apellido es obligatorio</p>
        </div>

        <!--Radio-Buttos-->
        <h2>Selecciona una Impresora</h2>
        <div *ngFor="let impresora of aPrinters">
            <input type="radio" 
                name ="printer" [(ngModel)]="impresoraSeleccionada" [value]="impresora">
            <label>{{impresora.modelo}}</label>
        </div>

        <!--Checkbox-->    
        <h2>Selección de Opciones</h2>
        <p>
            <input id="print" name="print" type="checkbox" [(ngModel)]="print" 
                [disabled]="!impresoraSeleccionada"
                (change)="avisarPrint()">
            <label for="print">Imprimir resultado</label><br>
            
            <input id="tono" name="tono" type="checkbox" [(ngModel)]="isClaro"
                [disabled]="!impresoraSeleccionada" > 
            <label for="tono">Tono claro</label>			
        </p>
        
        <!--Select/options --> 
        <p>
            <label for="select">Departamento </label>
            <select id="select" name="select"
            [(ngModel)]="departamentoSeleccionado" (ngModelChange)="avisarDepartamento()"> 
                <option *ngFor="let departamento of aDepartamento"
                    [ngValue]="departamento">
                    {{departamento.nombre}}
                </option>
            </select>
        </p>	
        <button type="submit" [disabled]="!formulario.valid">Enviar</button>
        <button type="button" (click)="borrar()" [disabled]="formulario.pristine">Borrar</button>
    </form>

    <div *ngIf="mostrarFinal">
        <h2>Resultado</h2>
        <ul>
            <li>Usuario: {{user.nombre}} {{user.apellido}}</li>
            <li>Telefono: {{user.tlf}}</li>
            <li>Impresora seleccionada: {{impresoraSeleccionada | json}}</li>
            <li>Opción print seleccionada: {{print}}</li>
            <li>Opción claro seleccionada: {{isClaro}}</li>
            <li>Departamento elegido: {{departamentoSeleccionado | json}}</li>
        </ul>
    </div>      
        <legend>Validación</legend>
        <ul>
            <li>
              Validez: {{formulario.valid}}
            </li>
            <li>
              Untouched: {{formulario.untouched}}
            </li>
            <li>
              Pristine: {{formulario.pristine}}
            </li>
        </ul>
</article>