<article class="row align-items-center">
  <div class="col">
    <label>Dime tu nombre</label>
    <input type="text" [(ngModel)]="nombre">
    <!--<button (click)="nombre=''">Borrar</button>-->
    <input type="checkbox" [(ngModel)]="isSpanish">
    <button (click)="btnBorrar()">Borrar</button>
    
  </div>
  <div class="col-6">
    <p> Hola {{nombre.toUpperCase()}}</p>
  </div>
  <div class="col-6">
    <h2>Expresiones</h2>
    <p> El producto * 4 es {{number * 4}}</p>
    <p>{{isSpanish?'Gracias' : 'Thanks'}}</p>
  </div>
</article>
